@charset "utf-8";
/* CSS Document */
.pay{ width:90%; padding:20px 5%; text-align:center; font-size:1.2rem; margin-top:30px; color:#fc7b08;}
.pay span{ font-size:1.5rem; color:#c90909;}
.pay p{ width:100%;}
.weui_cell_primary img{ width:120px; height:40px;}
.btn-login{ margin-top:50px;}
.weui_btn{ width:86%; margin:0px auto;}

